<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="script.radioparadise">
		<category id="settings" label="5">
			<group id="general" label="128">
				<setting id="audio_format" type="string" label="30101">
					<level>0</level>
					<default>aac</default>
					<constraints>
						<options>
							<option label="30201">aac</option>
							<option label="30202">flac</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
